body{
    background-color: aqua;
}
header{
    padding: 40px 4%;
  }
  header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
  }
  header a:hover{
    color: #fff;
    transform: scale(1.05);
  }
  
  header nav ul{
    list-style-type: none;
  }
  
  header nav ul li{
    display: inline-block;
    padding: 0 40px;
  }
  .informações{
    text-align: center;
    font-size: 18px;
  }
